[Unit]
Description=Synchronize Pi-hole instances (timer-based)
After=network-online.target pihole-FTL.service
Wants=gravity-sync.timer

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gravity-sync smart

[Install]
WantedBy=multi-user.target
